@import "tailwindcss" source(none);
@source "../../**/*.vue";
@source "../../../index.html";
@plugin "@tailwindcss/forms";
@custom-variant dark (&:is([data-theme="dark"] *));

@theme {
  --font-sans:
    Inter var, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";

  --grid-template-columns-16: repeat(16, minmax(0, 1fr));

  --spacing-1\/8: 12.5%;
}

@layer base {
  @font-face {
    font-family: "Inter var";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/Inter-roman.var.woff2?v=3.19") format("woff2");
    font-named-instance: "Regular";
  }

  @font-face {
    font-family: "Inter var";
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/Inter-italic.var.woff2?v=3.19") format("woff2");
    font-named-instance: "Italic";
  }
}
